/*Import*/
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:ital,wght@0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:ital,wght@0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Open+Sans:ital,wght@0,300;1,300&display=swap');
/*Variables*/

:root{
--principal:#183250;
--secondary: #a9a9a9;
--text: #ffffff;
--text-1: #0e0d0d;
--text-lg:4em;
--text-md:1em;
--font-primary: 'Roboto', sans-serif;
--font-secondary: 'Michroma', sans-serif;
--font-third:'Open Sans', sans-serif;
}

/*Reset*/

*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: var(--font-secondary);
}

/*Global*/
body{
    background-color: var(--principal);
    min-height: 100vh;
    position: relative;
    padding-bottom: 15em;
}
ul{
    list-style-type:none ;   
}
a{
    color: var(--text);
    text-decoration: none;
    display:inline-block; 
}
/*Helpers*/

.flex-row{
    display:flex;
}
.flex-column{
    display: flex;
    flex-direction:column;
}
.container{
    max-width: 1080px;
    margin:0 auto;
    font-size: 15px;
}
/*Header*/

header{
    background-color: var(--principal) ;
    
}
header .navbar{
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
header .logo {
    width: 15%;
    padding: 5px;
    flex-basis: 30%;
}
header .menu{
    justify-content: space-between;
}
header .menu__item{
    border: 2px solid var(--principal);
    transition: border-color .3s ease-in-out;
    font-size: var(--text-md);
}
.menu .menu__item:hover {
    border-color: var(--text);
}
.menu .menu__item .menu__link{
    font-size: var(--text-md);
    padding: 1rem;
}



/* Main */

.title {
    text-align: center;
    font-size: var(--text-lg);
    font-family: var(--font-secondary);
    color:var(--text);
    padding:2rem;
    letter-spacing: 0.1em;
}

.presentation__image img{
    width: 100%;
    padding:3em 0; 
}
.diferentes_destinos{
    display:grid;
    gap: 4rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 3em 1fr 1fr 3em 1fr;
    grid-template-areas: 

    "img_parque malargue laguna"
    "titulo1 titulo2 titulo3"
    "parqueDesc malargueDesc lagunaDesc"
    "salinas aconcagua potrerillos"
    "titulo4 titulo5 titulo6"
    "salinasDesc aconcaguaDesc potrerillosDesc";

   
}

.titulo1{
    grid-area: titulo1;
    text-align:center;
    color:var(--text);
    letter-spacing: 0.3em;
}

.titulo1:hover{
    border-color: var(--text);
}

.img_parque{
    grid-area: img_parque;
    animation: be_crazy 1 ease-in-out 5s;
    
    
}

.description{
    grid-area: parqueDesc;
    width: 100%;
    text-align: justify;
    line-height: 2rem;
    color:var(--text);
    font-family: var(--font-third);
    
}
.malargue{
    grid-area: malargue;
}
.titulo2{
    grid-area: titulo2;
    text-align:center;
    color:var(--text);
    letter-spacing: 0.3em;
}
.malargue__description{
    grid-area: malargueDesc;
    width: 100%;
    text-align: justify;
    line-height: 2rem;
    color:var(--text);
    font-family: var(--font-third);

}
.laguna__maule{
    grid-area: laguna;
}
.titulo3{
    grid-area: titulo3;
    text-align:center;
    color:var(--text);
    letter-spacing: 0.3em;
}
.lago__colbun--description{
    grid-area: lagunaDesc;
    width: 100%;
    text-align: justify;
    line-height: 2rem;
    color:var(--text);
    font-family: var(--font-third);
}
.salinas{
    grid-area: salinas;
}
.titulo4{
    grid-area: titulo4;
    text-align:center;
    color:var(--text); 
    letter-spacing: 0.3em;
}
.salinas__description{
    grid-area: salinasDesc;
    width: 100%;
    text-align: justify;
    line-height: 2rem;
    color:var(--text);
    font-family: var(--font-third);
}
.aconcagua{
    grid-area: aconcagua;
}
.titulo5{
    grid-area: titulo5;
    text-align:center;
    color:var(--text);
    letter-spacing: 0.3em;
}
.aconcagua__description{
    grid-area: aconcaguaDesc;
    width: 100%;
    text-align: justify;
    line-height: 2rem;
    color:var(--text);
    font-family: var(--font-third);
}
.potrerilllos{
    grid-area: potrerillos;
}
.titulo6{
    grid-area: titulo6;
    text-align:center;
    color:var(--text);
    letter-spacing: 0.3em;
}
.potrerillos__description{
    grid-area: potrerillosDesc;
    width: 100%;
    text-align: justify;
    line-height: 2rem;
    color:var(--text);
    font-family: var(--font-third);
}


.diferentes_destinos img{
    width: 100%;
    /* gap: 1rem; */
    
}
.texto{
    color:var(--text);
    line-height:2rem;
    letter-spacing:0.1em;
    text-align: justify;
    padding: 0.5rem;
    font-family: var(--font-third);
    padding-bottom: 3rem;
    
}
.titulo{
    font-family: var(--font-secondary);
    color:var(--text);
    padding: 0.5rem;
    line-height: 5rem;
}
#mapa{
    display: flex;
    justify-content: center;
    
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:var(--text);
    line-height:2.5rem;
    padding: 0.5rem;
}
.contacto__text{
    display:flex;
    flex-direction: column;
    color:var(--text-1);
    font-size: .7em;
    padding:5px;

}

.viajes{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; 
    gap:1.5em;   
}
.viajes img{
    width: 100%;
    height: 100%;
    /* margin: 7px;      */
    padding: 1em 1em;
}
    
.parque{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;   
}
.parque img{
    width: 100%;   
}
/*footer*/

.pieDePagina {
    background-color: #143c66;
    font-size: 11px;
    padding-top: 25px;
    padding-bottom:25px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: var(--font-third);
}
.pieDePagina__link {
    text-align: center;
    color:white;
    
}
.pieDePagina__image {
    margin-inline: 10px; 
    display: inline-block;
    align-items: center;
    padding: 10px;  
}

@media screen and (max-width: 720px){
    
    header .navbar { 
        font-size: 0.8em;
        flex-basis: 20%;

    }

    picture .logo {
        flex-basis: 40%;    
        width: 5em;
    }

    .title {
        font-size: 1.4em;
    }


   .presentation__image{
       flex-grow: 1;
   }
   #destinos{
       display: grid;
       align-items: center;
       justify-content: center;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr;
       grid-template-areas: 
       "img_parque   malargue"
        "titulo1     titulo2"
        "parqueDesc  malargueDesc"
        "laguna     salinas"
        " titulo3    titulo4"
        "lagunaDesc     salinasDesc"
        "aconcagua  potrerillos"
        "titulo5    titulo6"
        "aconcaguaDesc  potrerillosDesc";
        padding: 0 1em;
    }

    #destinos h3 {
        font-size: 0.8em;

    }

    #destinos p {
        font-size: .8em;
    }

    #destinos img {
        width: 100%;
    }
    p.texto{
        font-size: 1em;
        padding:0 1em;
        text-align: justify;
        
    }
    img.parque{
        width: 100%;
    }
    h2.titulo{
        font-size:1em ;
        padding:0 1em;
    }
    h2.contacto{
        font-size:.9em ;   
    }
    label.contacto{
        font-size: .7em ;
    }
    div.viajes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/*ANIMACION*/
.size{
    transition: transform ease-in-out 1s;
}
.size:hover {
    transform: scale(1.2);
}

