/*IMPORTS*/
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:ital,wght@0,500;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:ital,wght@0,500;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2? family=Open+Sans:ital,wght@0,300;1,300&display=swap");
/*MISCELANEOUS*/
/*RESETS*/
*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  color: #ffffff; }

/*GLOBALS*/
body {
  background-color: #183250;
  min-height: 100vh;
  position: relative;
  padding-bottom: 15em;
  font-family: "Michroma", sans-serif;
  line-height: 0;
  color: #ffffff; }

ul {
  list-style-type: none;
  padding: 0 1rem;
  font-size: 1em; }

ol, ul {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #ffffff;
  display: block; }

a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  color: #ffffff; }

/*HELPERS*/
.size {
  transition: transform ease-in-out 1s; }
  .size:hover {
    transform: scale(1.2); }

/*PARTIALS*/
main {
  font-size: 1.5rem; }

header {
  max-width: 1080px;
  margin: 0 auto;
  background-color: #183250;
  color: #ffffff; }
  header .logo {
    width: 25%;
    padding: 5px;
    flex-basis: 30%;
    margin-top: 0; }

.navbar {
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: #ffffff; }

.menu {
  justify-content: space-between;
  flex-basis: 50%; }
  .menu__item {
    border: 2px solid #183250;
    transition: border-color .3s ease-in-out;
    font-size: 1em; }
    .menu__item:hover {
      border-color: #07daff;
      color: #ffffff; }
  .menu__link {
    padding: 1.5rem; }

.color__header {
  background-color: #183250; }

.navbar .nav-link {
  font-family: "Michroma", sans-serif;
  text-decoration: none;
  color: #ffffff; }

@media screen and (max-width: 720px) {
  header .navbar {
    font-size: 0.8em;
    flex-basis: 20%; } }

.pieDePagina {
  background-color: #143c66;
  font-size: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif; }
  .pieDePagina__link {
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    padding: 1px;
    line-height: .7rem; }
  .pieDePagina__image {
    margin-inline: 10px;
    display: inline-block;
    align-items: center;
    padding: 10px; }

/*views*/
main section div .presentation__image {
  padding: 3em 0;
  width: 100%; }

main section .row {
  max-width: 1080px;
  margin: 0 auto; }

main section .card {
  background-color: #0b2135;
  margin-top: 2rem;
  padding-right: 0;
  padding-left: 0; }

main section .card-img-top {
  padding-right: 0; }

main section .diferentes_destinos img {
  width: 100%; }

.title {
  text-align: center;
  font-size: 4rem;
  font-family: "Michroma", sans-serif;
  color: #ffffff;
  padding: 2rem;
  letter-spacing: 0.1em;
  font-weight: 100;
  margin-bottom: 0;
  max-width: 1080px;
  margin: 0 auto; }

.texto {
  color: #ffffff;
  line-height: 2rem;
  letter-spacing: 0.1em;
  text-align: justify;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 3rem; }

.titulo {
  font-family: "Michroma", sans-serif;
  color: #ffffff;
  padding: 0.5rem;
  line-height: 5rem;
  text-align: center; }

#mapa {
  display: flex;
  justify-content: center; }

.parque {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }

.parque img {
  width: 100%; }

@media screen and (max-width: 720px) {
  .title {
    font-size: 1.4em; }
  .presentation__image {
    flex-grow: 1; } }

form {
  max-width: 1080px;
  margin: 0 auto;
  justify-content: center;
  line-height: 1.5rem; }
  form .contacto {
    color: #ffffff;
    padding: 0.5rem; }
    form .contacto__text {
      color: var(#0e0d0d);
      font-size: .7em;
      padding: 20px;
      font-family: "Open Sans", sans-serif; }

@media screen and (max-width: 720px) {
  h2.contacto {
    font-size: .9em; }
  label.contacto {
    font-size: .7em; } }

.parque {
  max-width: 1080px;
  margin: 0 auto; }

main h2 {
  max-width: 1080px;
  margin: 0 auto; }

main section article p {
  max-width: 1080px;
  margin: 0 auto; }
