.pieDePagina {
    background-color: #143c66;
    font-size: 10px;
    padding-top: 25px;
    padding-bottom:25px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family:$font-third;

    &__link {
        text-align: center;
        color:white;
        font-size: 12px;
        font-family: $font-third;
        padding: 1px;
        line-height: .7rem;
    }
    &__image {
        margin-inline: 10px; 
        display: inline-block;
        align-items: center;
        padding: 10px;             
    }    
}
