main{
    font-size: 1.5rem;
}

header{
    @include contenedor;
    background-color: map-get($mapaDeColores , color-principal );
    color: map-get($mapaDeColores , color-texto );
        .logo{
            width: 25%;
            padding: 5px;
            flex-basis: 30%;
            margin-top:0;
        }
    }

    .navbar{
        min-height: 10vh;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        color: map-get($mapaDeColores , color-texto );

    }
    .menu{
        justify-content: space-between;
        flex-basis: 50%;

        &__item{
            border: 2px solid map-get($mapaDeColores , color-principal );
            transition: border-color .3s ease-in-out;
            font-size: $text-md;

            &:hover{
                border-color:#07daff;
                color: map-get($mapaDeColores , color-texto );
            }
        }
        &__link {
            padding: 1.5rem;
        }    
    }


.color__header{
    background-color: map-get($mapaDeColores , color-principal );
}

.navbar .nav-link{
    font-family: $font-secondary;
    text-decoration: none;
    color: map-get($mapaDeColores , color-texto );
}
@media screen and (max-width: 720px){

    header .navbar {
        font-size: 0.8em;
        flex-basis: 20%;


    }
}



