h2{
    padding: 1em;
}
form{
    @include contenedor;
    justify-content:center;
    line-height: 1.5rem;
    .contacto{
        color: map-get($mapaDeColores , color-texto );
        padding: 0.5rem;
        &__text{
            color:var($text-1);
            font-size: .7em;
            padding:20px;
            font-family: $font-third;
            
        }
    }
    label{
        padding:0.5em 0;
    }
}



@media screen and (max-width: 720px){

    h2.contacto{
        font-size:.9em ;
        padding: 2em;   
    }
        form{
            padding:3em;
        }
    
        &-label{
        padding:1em 0;
        }
    
}
