form{
    @include contenedor;
    justify-content:center;
    line-height: 1.5rem;
    .contacto{
        color: map-get($mapaDeColores , color-texto );
        padding: 0.5rem;
        &__text{
            color:var($text-1);
            font-size: .7em;
            padding:20px;
            font-family: $font-third;
            
        }
    }
    
}



@media screen and (max-width: 720px){

    h2.contacto{
        font-size:.9em ;   
    }
    label.contacto{
        font-size: .7em ;
    }
}
