/*RESETS*/
*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    color: map-get($mapaDeColores , color-texto );
}



/*GLOBALS*/
body{
    background-color: map-get($mapaDeColores , color-principal );
    min-height: 100vh;
    position: relative;
    padding-bottom: 15em;
    font-family: $font-secondary;
    line-height: 0;
    color: map-get($mapaDeColores , color-texto );
}
ul{
    list-style-type:none ;
    padding: 0 1rem;
    font-size: $text-md; 
      
}
ol, ul {
    padding-left: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    color: map-get($mapaDeColores , color-texto );
    display:block;
}
a{
    color: map-get($mapaDeColores , color-texto );
    text-decoration: none;
    display:inline-block;
    color: map-get($mapaDeColores , color-texto );  
}
