$principal:#183250;
$secondary: #a9a9a9;
$text: #ffffff;
$text-1: #0e0d0d;
$text-lg:4em;
$text-md:1em;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Michroma', sans-serif;
$font-third:'Open Sans', sans-serif;

