$text-1: #0e0d0d;
$text-lg:4em;
$text-md:1em;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Michroma', sans-serif;
$font-third:'Open Sans', sans-serif;

$mapaDeColores: (
        color-principal: #183250,
        color-texto:#ffffff,
);
